{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
{% include 'sale/checkout_navbar.html' with shipping=True %}
<main class="text-center form-create-item">
	<form
		class="form"
		action="{% url 'buyout_item' id=item.id %}" 
		method="post"
	>
		{% csrf_token %} {{ form|crispy }}
	</form>
	<a class="btn btn-secondary" href="{% url 'buyout_item' id=item.id %}">Shipping Info</a>
	<a class="btn btn-secondary" href="{% url 'billing_checkout' id=item.id %}">Payment Info</a>
	<a class="btn btn-secondary" href="{% url 'checkout_overview' id=item.id %}">Payment Overview</a>
	</div>
</main>
{% endblock %}
