{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<main class="text-center form-create-item">
	<form
		class="form"
		action="{% url 'buyout_item' %}"
		method="post"
	>
		{% csrf_token %} {{ form|crispy }}
		<input type="submit" value="Submit" class="btn-secondary" />
	</form>
	<a class="btn btn-secondary" href="/sale/billing_checkout/{{ item.id }}">Billing</a>
	<a class="btn btn-secondary" href="/sale/checkout_overview/{{ item.id }}">Overview</a>
	</div>
</main>
{% endblock %}
