{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<main class="text-center form-create-item">
	<h3>Checkout Overview</h3>
	<div class="BuyerOverview">
		<p>Name: {{ billing_name }}</p>
		<p>Email: {{ email }}</p>
		<p>Shipping Address: {{ shipping_address }}</p>
		<p>Country: {{ country }}</p>
		<p>City: {{ city }}</p>
		<p>Zip: {{ postal_code }}</p>
	</div>
	<h3 class="overview-header">Item Overview</h3>
	<div class="ItemOverview">
		<p>Item Name: {{ item.name }}</p>
		<p>Description: {{ item.description }}</p>
		<p>Buyout Price: ${{ item.buyout|floatformat:2 }}</p>
	</div>
	<a class="btn btn-secondary" href="{% url 'billing_checkout' id=item.id %}">Prev</a>
	<a class="btn btn-secondary" href="{% url 'checkout_confirmation' id=item.id %}">Confirm Purchase</a>
</main>
{% endblock %}
