<div id="payment-navbar">
	<span {% if shipping %} data-current {% endif %}>
		{% if payment or overview %}
		<a>Shipping Info</a>
		{% else %}Shipping Info{% endif %}
	</span>
	>
	<i class="fa fa-arrow-right"></i>
	<span {% if payment %} data-current {% endif %}>
		{% if shipping or overview %}
		<a>Payment Info</a>
		{% else %}Payment Info{% endif %}
		</span>
	>
	<i class="fas fa-arrow-right"></i>
	<span {% if overview %} data-current {% endif %}>
		{% if shipping or payment %}
		<a>Payment Overview</a>
		{% else %}Payment Overview{% endif %}
	</span>
</div>
