<div class="container-fluid">
  <footer class="footer d-flex justify-content-between align-items-center fixed-bottom-0 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 FireSale 17, Inc</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/LayOut/about" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="mailto:firesale.hr17@gmail.is" class="nav-link px-2 text-muted">
            Contact Us
        </a></li>
    </ul>
  </footer>
</div>