{% load static %}

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FireSale
              <span><img src={% static "images/firelogo.png"%} width="30" height="30" class="navbar-logo" alt="FireSale Logo"></span>
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/catalog">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=1">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=2">Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=3">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=4">Home & Garden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=5">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=6">Other</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/User/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                    <li><a href="/User/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    {% else %}
                    <li><a href="/User/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/User/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
    </div>
  </div>
</nav>

