{% load static %}

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FireSale
              <span><img src={% static "images/fire_logo.png" %} width="30" height="30" class="navbar-logo" alt="FireSale Logo"></span>
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/catalog">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=1">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=2">Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=3">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=4">Home & Garden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=5">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/?category=6">Other</a>
        </li>
      </ul>

    <!-- Search bar -->
    <div class="container d-flex col-md-4 me-auto">
        <div class="input-group">
                <input id="search-box" class="form-control border-end-0 border rounded-pill" type="search" placeholder="search" aria-describedby="search-btn">
                <span class="input-group-addon">
                    <button id="search-btn" class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </button>
                </span>
        </div>
    </div>
        <ul class="nav navbar-nav navbar-right justify-content-end align-items-center">
                {% if request.user.is_authenticated %}
                    <li><a href="/User/account"><span class="nav-rating btn btn-sm" role="button">
                        {{ user.user.rating }}<i class="bi bi-star"></i>
                    </span></a></li>
                    <li><a href="/User/account"><span class="btn btn-sm" role="button">
                        <img class="rounded-circle article-img" width="30" height="30" src="{{ user.user.image.url}}" id="img">
                    </span></a></li>
                    <li><a href="/User/logout"><span class="btn btn-outline-secondary btn-sm" role="button">Log out</span></a></li>
                    {% else %}
                    <li><a href="/User/register"><span class="btn btn-outline-secondary btn-sm" role="button">Sign Up</span></a></li>
                    <li><a href="/User/login"><span class="btn btn-outline-secondary btn-sm" role="button">Login</span></a></li>
                {% endif %}
        </ul>
    </div>
  </div>
</nav>

