{% extends "base.html" %}
{% block content %}
    <div id="account-info">
        <h2>Account</h2>
        <img src="{{ MEDIA_URL }}{{ user_image.url }}" alt="{{ image }}">
        <h4>{{ user_name }}</h4>
        <p>{{ user_bio }}</p>
        <a class="btn btn-secondary" href="/User/account_settings">Account Settings</a>
    </div>
    <div id="my-items-offers">
        <a class="btn btn-secondary" href="/User/my_items">My Items</a>
        <a class="btn btn-secondary" href="/User/my_offers">My Offers</a>
    </div>
{% endblock %}