{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <main class="text-center form-signin">
        <img class="mb-4" src={% static "images/fire_logo.png" %} alt="firelogo" width="60" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <form class="form" method="post">
            {% csrf_token %}
            {{ form|crispy }}
    <input type="submit" class="btn btn-secondary" value="Log in" />
    </form>
    </main>
{% endblock %}