{% extends 'base.html' %}
{% block content %}
    <h2>Catalog</h2>
    <div class="btn-group">
        <label>Sort by:</label>
        <a href="#" class="btn btn-outline-secondary active" aria-current="page">Name</a>
        <a href="" class="btn btn-outline-secondary">Price(Low-High)</a>
        <a href="#" class="btn btn-outline-secondary">Price(High-Low</a>
    </div>
    <div class="catalog-items">
        {% for item in items %}
            {% if item.offer_accepted == False %}
                {% include 'catalog/single_item.html' with item=item %}
            {% endif %}
        {% endfor %}
    </div>

    {% load static %}
    <script src="{% static 'js/offer.js' %}"></script>

{% endblock %}