{% extends 'base.html' %}
{% block content %}
    <div class="ItemInfo">
        <p>Item Name: {{ item.name }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Buyout Price: ${{ item.buyout }}</p>
    </div>
    <div class="buyout-offer-btn">
        <a class="btn btn-primary" href="/sale/buyout_item">Buyout</a>
        <input type="number" id="make-offer-input" min="1" />
        <button type="button" id="make-offer-btn" class="btn btn-primary">Make an offer</button>
    </div>
    <img class="item-img" src="{{ item.image }}" />
    {% load static %}
    <script src="{% static 'js/offer.js' %}"></script>
{% endblock %}