{% extends 'base.html' %}
{% block content %}
    <div class="ItemContainer">
        <h3>Item Name: {{ item.name }}</h3>
        <p>Sold by <a href="../../User/{{ item.sellerid.id }}">{{ item.sellerid.name }}</a></p>
        <p>Condition: {{ item.condition }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Buyout Price: ${{ item.buyout|floatformat:2 }}</p>
        {% if offers %}
        <p>Current highest offer: ${{ highest_offer.amount|floatformat:2 }} offered by {{ highest_offer.buyerid.name }}</p>
        {% endif %}
    {% if item.sellerid != buyer %}
        <div class="buyout-offer-btn">
            <a class="btn btn-secondary" href="/sale/buyout_item/{{ item.id }}">Buyout</a>
            <input type="number" id="make-offer-input" min="1" />
            <button type="button" id="make-offer-btn" class="btn btn-secondary">Make an offer</button>
        </div>
        {% elif item.sellerid == buyer %}
        <div class="buyout-offer-btn">
        <a class="btn btn-secondary" href="/catalog/delete_item/{{ item.id }}">Delete item</a>
    </div>
    {% endif %}
    </div>
    <img class="item-img" src="{{ MEDIA_URL }}{{ item.image.url }}" alt="{{ item.name }}" />
    <div class="current-offers">
        <h4>Current offers:</h4>
        {% for offer in offers %}
            <div class="current-offers mt-3">
                {{ offer.datetime }}: {{ offer.buyerid.name }} offered ${{ offer.amount|floatformat:2 }}
                {% if buyer == offer.buyerid %}
                    <form action="/offer/cancel_offer/{{ offer.id }}/{{ item.id }}" method="post">
                    {% csrf_token %}
                    <input id="itempage-cancel-offer-btn" type="submit" class="btn btn-secondary" value="Cancel offer" />
                    </form>
                {% elif buyer == item.sellerid %}
                    <form action="/offer/accept_offer/{{ offer.id }}" method="post">
                    {% csrf_token %}
                    <input id="itempage-accept-offer-btn" type="submit" class="btn btn-secondary" value="Accept offer" />
                    </form>
                {% endif %}
            </div>
            {% empty %}
            <p>No current offers.</p>
        {% endfor %}
    </div>
        <div class="similar-items d-flex align-content-stretch flex-wrap">
        <h3>Similar items:</h3>
            <div class="catalog-items mt-3">
                {% for simitem in similar_items %}
                    {% include 'catalog/single_item.html' with item=simitem %}
                {% empty %}
                <p>Sorry, no similar items.</p>
                {% endfor %}
            </div>
        </div>
    {% load static %}
    <!-- Pass the item id and csrf token to the javascript file -->
    <script>let itemid = {{ item.id }}</script>
    <script>let csrf = "{{ csrf_token }}"</script>
    <script src="{% static 'js/make_offer.js' %}"></script>
{% endblock %}