<div class="container-fluid d-flex justify-content-center pt-5">
    <div id="order-bar" class="dropdown-container">
            <span class="dropdown-title">Order by</span>
            <select id="order-by" class="dropdown">
                <option value="name_asc">Name A-Z</option>
                <option value="name_desc">Name Z-A</option>
                <option value="buyout_desc">Price: High to low</option>
                <option value="buyout_asc">Price: Low to high</option>
                <option value="id_desc">Newest First</option>
                <option value="id_asc">Oldest First</option>
            </select>
        </div>
</div>
